@{
    ViewData["Title"] = "Home Page";
}

<div class="content text-center">
    <h1 class="display-4">Sistema de controle
    </h1>

    <div class="tabela">
    <div class="filtrar">
        <h2>Clientes</h2>
        <form>
            <input type="text">
            <button type="submit" class="rounded-3">Enviar</button>
        </form>
        <div>
            <button>
                V
            </button>
        </div>
    </div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">CPF</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Pets</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in ViewBag.listClientes)
            {
                <tr>
                    <td scope="row">@cliente.ID</td>
                    <td scope="row">@cliente.Nome</td>
                    <td scope="row">@cliente.CPF</td>
                    <td scope="row">@cliente.Email</td>
                    <td scope="row"><button>Pets</button></td>
                </tr>
            }
            </tbody>
    </table>


    </div>


    <div class="tabela">
        <div class="filtrar">
            <h2>Pets</h2>
            <form>
                <input type="text">
                <button type="submit">Enviar</button>
            </form>
            <div>
                <button>
                    V
                </button>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Raca</th>
                    <th scope="col">Dono</th>
                </tr>
            </thead>
            @foreach (var pet in ViewBag.listPets)
            {
                <tr>
                    <td scope="row">@pet.ID</td>
                    <td scope="row">@pet.Nome</td>
                    <td scope="row">@pet.Raca</td>
                    <td scope="row">@pet.Dono.Nome</td>
                </tr>
            }
        </table>
    </div>


    <div class="tabela">
        <div class="filtrar">
            <h2>Fornecedores</h2>
            <form>
                <input type="text">
                <button type="submit">Enviar</button>
            </form>
            <div>
                <button>
                    V
                </button>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
                <tr>
                   <th scope="col">ID</th>
                   <th scope="col">Empresa</th>
                   <th scope="col">CNPj</th>
                   <th scope="col">E-mail</th>
                </tr>
            </thead>
            @foreach (var fornecedor in ViewBag.listFornecedor)
            {
                <tr>
                    <td scope="row">@fornecedor.ID</td>
                    <td scope="row">@fornecedor.Nome</td>
                    <td scope="row">@fornecedor.CNPJ</td>
                    <td scope="row">@fornecedor.Email</td>
                </tr>
            }
            </table>
    </div>
       
    
</div>
